{% extends "base.html.twig" %}

{% block body %}

    <div class="row mt-4">
        <div class="col align-self-end">
            <h1 class="h1">Current Adverts</h1>
        </div>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div class="col-sm-2">
                <a type="button" class="btn btn-success new-advert" role="button" href="{{ path('advert_create') }}">Create new</a>
            </div>
        {% endif %}
    </div>

    <div class="row">
        {% for key, advert in adverts %}
            <div class="col-sm-4 advert-space shadow p-3 mb-5 bg-white rounded">
                <h2> Advert #{{ advert.id }} </h2> {# temporary counter by id #}
                <ul style="list-style-type: none;">
                    <li><b>Username:</b> {{ advert.user.username }}</li>
                    <li><b>Advert name:</b> {{ advert.name }}</li>
                    <li><b>Description:</b> {{ advert.wrapDescription(30)|striptags }}</li>
                    <li><b>Created At:</b> {{ advert.createdAt|date }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>

{% endblock %}