// assets/css/global.scss

$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$fa-font-path: "~font-awesome/fonts";

// customize some Bootstrap variables
$brand-primary: darken(#428bca, 20%);


.new-advert {color: #FFFFFF!important;}
.advert-space {margin-left:0;}
.btn-dark i {color: #FFFFFF;}

// the ~ allows you to reference things in node_modules
@import '~bootstrap/scss/bootstrap';