<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AdvertBoard</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">

</head>
<body>

    <div class="container">
        {% include "components/navbar.html.twig" %}

        {% block body %}
        {% endblock %}
    </div>
<script src="{{ asset('build/app.js') }}"></script>

</body>
</html>