<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">AdvertBoard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <div class="btn-toolbar" role="toolbar">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a class="btn btn-primary" href="{{ path('profile') }}" role="button">Profile</a>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a class="btn btn-primary" href="{{ path('logout') }}" role="button">Log Out</a>
                </div>
            {% else %}
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a class="btn btn-primary" href="{{ path('registration') }}" role="button">New User Registration</a>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="First group">
                    <a class="btn btn-primary" href="{{ path('login') }}" role="button">Log In</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>