{% extends "base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4 mt-3">

            <h1>Create Advert</h1>

            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}

            <button type="submit" class="btn btn-primary">Create!</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}