{% extends "base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-4 mt-4">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <h1>Login Form</h1>

            <form action="{{ path('login') }}" method="post">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" />
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password" class="form-control" />
                </div>
                <input type="hidden" name="_target_path" value="/" />
                <button type="submit" class="btn btn-primary">login</button>
            </form>
        </div>
    </div>


{% endblock %}