{% extends "base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-sm mt-3">
            <h1>My Adverts</h1>
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Updated At</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for advert in adverts %}
                    <tr>
                        <th scope="row">{{ advert.id }}</th>
                        <td>{{ advert.name }}</td>
                        <td>{{ advert.trimDescription(0, 50) }}</td>
                        <td>{{ advert.createdAt()|date }}</td>
                        <td>{{ advert.updatedAt()|date }}</td>
                        <td>
                            <a class="btn btn-dark" role="button" href="{{ path('advert_update', {id: advert.id}) }}"><i class="far fa-edit"></i></a>
                            <a class="btn btn-dark" role="button" href="{{ path('advert_delete', {id: advert.id}) }}"><i class="far fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}