{% extends "base.html.twig" %}

{% block body %}

    <div class="row">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-8">
            <div class="col align-self-center">
                <h1>Registration Form</h1>
                {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}

                <button type="submit" class="btn btn-primary">Register!</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}